*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    overflow-y: auto;

}
h1{
    width: 100%;
    text-align: center;
}
.wrap-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6vh;

}

@media (width >=800px){
    .wrap-cards{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}